.company-container .company-header, .results-container .company {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.company .login, .people-header .header-lg {
  flex: 1 0 50%;
}

.company-header .header, .company .name, .city .state {
  flex: 1 0 25%;
}

.less-headspace {
  padding-top: 1rem !important;
}

.findCompany-headspace {
  padding-top: 2rem !important;
}