.header-container, .results-container {
	display: flex;
	flex-flow: column wrap;
	/* margin-top: 10px; */
  }
  
  .header-container .headers, .results-container .jobResults {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	height: 40px;
  }
  
  .jobResults .login, .jobResults .name, .headers .header {
	flex: 1 0 25%;
  }
  
  .input-container .login-input {
	margin: 10px 0;
	width: 250px;
	height: 36px;
	border: none;
	padding: 2px 16px;
	box-sizing: border-box;
	border-radius: 20px;
	outline: none;
  }
  
  .input-container .submit-btn {
	margin-left: 10px;
	width: 100px;
	height: 36px;
	border: none;
	padding: 2px 16px;
	box-sizing: border-box;
	border-radius: 20px;
	outline: none;
	background: #226f54;
	color: #fff;
	cursor: pointer;
	font-size: 12px;
  }
  
  .input-container .submit-btn:hover {
	background: #2B8A69;
  }
  
  .input-container .submit-btn:active {
	background: #226f54;
  }

  .check-space{
	margin-right: 15px;
  }